@import url('/node_modules/bootstrap/dist/css/bootstrap.min.css'); // version 3.3.7

$background: white;

body {
    background: $background;
}

.row {
  margin: 0 auto;
}

#film {
  width: 75px;
}

#home {
  padding-top: 30px;
}

#home h1 {
  padding-top: 30px;
}

.movieImage {
  max-width: 200px;
  max-height: 250px;
}

.movie {
  padding: 20px 0;
}

// class "active" sets toggle to selected